#AppointmentsHeader {

  background-image: -webkit-linear-gradient(top,#0047B2 0,#1959BA 100%);
  color: #FFFFFF
}

#AppointmentsSideBar {
  background-color: #DEDEDE;
  min-height: 600px;
}

.appts-nav-button {
  width: 100%;
}

.appts-error-dialog {
  left: 0px;
  right: 0px;
  width: auto;
  height: 100px;
  display: block;
  top: 40%;
  text-align: center;
}

.appointments-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.fadeDivFull {
   transition: 0.5s linear all;
   opacity: 1;
}

.fadeDivFull.ng-hide {
    opacity: 0;
}

h1 {
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

h3 {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}

pre {
	font-family: 'Open Sans';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714282989502px;
}

p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

ul
{
    list-style-type: none;
}
