<html ng-app="AppointmentsApp" ng-controller="AppointmentsCoreCtrl">
  <head>
    <meta charset="utf-8" />
    <title ng-bind="header"></title>

    <!-- libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/libs/jqueryUI-1.11.4.min.js"></script>
    <script src="./js/libs/jqueryUI-timepicker-addon.min.js"></script>
    <script src="./css/Metro/js/metro.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/core.css" />
    <link rel="stylesheet" type="text/css" href="./css/creation.css" />
    <link rel="stylesheet" type="text/css" href="./css/timepicker.css" />

    <link rel="stylesheet" type="text/css" href="./css/Metro/css/metro.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/Metro/css/metro-icons.css" >
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Controllers -->
    <script src="./js/controllers/appointmentsDataController.js"></script>
    <script src="./js/controllers/appointmentsCreationController.js"></script>
    <script src="./js/controllers/searchController.js"></script>

    <!-- Services -->
    <script src="./js/services/appointmentsService.js"></script>
    <script src="./js/services/customerService.js"></script>

    <!-- Directives -->
    <script src="./js/directives/datetimeDirective.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="col-xs-12" id="AppointmentsHeader" >
        <h1> {{ header }} </h1>
      </div>

    <!-- LeftSideBar -->
      <div class="col-xs-3" id="AppointmentsSideBar">
        <h3> Actions </h3>
        <button ng-click="setView('NewAppointment')" class="button appts-nav-button"> New Appointment <span class="mif-plus" style="float: right;"></span> </button>
        <h3> Views </h3>
        <button ng-click="setView('Today')" class="button appts-nav-button"> Today </button>
        <button ng-click="setView('Week')" class="button appts-nav-button"> This Week </button>
        <button ng-click="setView('Month')" class="button appts-nav-button"> This Month </button>
      </div>

      <!-- Content -->
      <div class="col-xs-9">
        <div ng-include="currentView">
        </div>
      </div>
    </div>
  </body>
</html>
