<div ng-controller="AppointmentsCreationController">
  <h2> Create New Appointment </h2>
  <hr />
  <div>

    <!-- Error Dialog -->
    <div class="appointments-overlay fadeDivFull" ng-show="showErrorMessage" style="z-index: 2;">
      <div style="height: 100px;" class="dialog appts-error-dialog block-shadow-error" id="error-message" >
        <div class="container" style="margin-top: 30px;">
          <h4><i>{{ errorMessage }}</i></h4>
        </div>
        <span ng-click="clearErrorMessage()" class="dialog-close-button" />
      </div>
    </div>

    <!-- Content -->
    <h4>Title:</h4>
      <input type="input" id="appointmentTitle" placeholder="Title" ng-model="appointmentToCreate.title" ></input>
    <h4>Customer:</h4>
    {{state}}
    <div ng-controller="SearchController">
      <div class="input-control text">
        <span ng-click="clearSearch()">{{selected.forename}} {{ selected.surname }}</span>
        <input type="text" ng-model="customerquery" ng-change="change()" ng-hide="customerSelected" />
      </div>
      <ul class="{{state}}" ng-show="customerquery">
        <li ng-repeat="customer in customers" ng-click="selectCustomer(customer)">{{customer.forename}} {{ customer.surname }}</li>
      </ul>
    </div>

    <h4>Time:</h4>

    <div>
      <div apptsdatepicker class="input-control text" id="datepicker" style="z-index: 0;">
          <input type="text" id="appointmentDate">
      </div>
      <div  class="input-control text" id="timepicker" style="z-index: 0;">
          <input type="text" id="appointmentDatetime" apptstimepicker />
      </div>
    </div>
    {{selectedDate}}

    <h4>Approx. Duration:</h4>
    <h4>Description:</h4>

    <button ng-click="attemptSave()">Save Booking</button>
  </div>
</div>
