<div ng-controller="AppointmentsDataController">
  <h3> This Month's Appointments: </h3>
  <hr />
  <div ng-init="showMonth()">
    <div ng-if="visibleAppointments.length == 0">
      <p>You have no appointments this week!</p>
    </div>

    <!-- http://angular-ui.github.io/ui-calendar/ -->

    <div ng-repeat="appointment in visibleAppointments">
      {{ appointment.title }} - {{ appointment.startTime }}
    </div>
  </div>
</div>
