<div ng-controller="AppointmentsDataController">
  <h3> This Week's Appointments: </h3>
  <hr />
  <div ng-init="showWeek()">
    <div ng-if="visibleAppointments.length == 0">
      <p>You have no appointments this week!</p>
    </div>

    <div ng-repeat="appointment in visibleAppointments">
      {{ appointment.title }} - {{ appointment.startTime }}
    </div>
  </div>
</div>
